# Environment variables
.env

# Text files
*.txt

# Python temporary files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database files
*.db
*.sqlite3

# Logs
*.log
execution_logs.md
